<header>
    <h1>Rijksmuseum collection</h1>
    <form method="get" action="/search">
      <label for="search">Search an artist</label>
      <input
        type="search"
        class="search-bar"
        placeholder="Search artist, art ..."
        name="search"
      />
      <!-- ObjectNumber intoetsen en dan navigeren -->
      <button class="search-btn">Search</button>
    </form>
  </header>